DJANGO_SECRET_KEY=some_very_secret_key
DEBUG=1

POSTGRES_USER=adminka
POSTGRES_PASSWORD=qwerty
POSTGRES_DB=sandbox
PGDATA=/var/lib/postgresql/data/db/

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=cool_rabbit
