:root {
    --green-color: #1abc9c;
    --dark-green-color: #126958;
    --yellow-color: #f1c40f;
    --red-color: #e74c3c;
    --white-color: #fff;
    --main-background-color: #1c1e26;
    --light-grey-color: #3e4460;
    --grey-color: #2c3e50;
}

body {
    background-color: var(--main-background-color);
    color: var(--white-color);
    font-family: Arial, sans-serif;
}
main {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--green-color);
    border-radius: 5px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    background-color: var(--light-grey-color);
    color: var(--white-color);
    font-size: 16px;
}

.btn-outline-custom-green {
    color: var(--green-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--green-color) c;
}
.btn-outline-custom-green:hover {
    color: var(--white-color);
    background-color: var(--green-color);
    border-color: var(--green-color);
}

.btn-outline-custom-red {
    color: var(--red-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--red-color);
}

.btn-outline-custom-red:hover {
    color: var(--white-color);
    background-color: var(--red-color);
    border-color: var(--red-color);
}
