body {
    background-color: #1c1e26;
    color: #fff;
    font-family: Arial, sans-serif;
}

#dilog-form{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    display: flex;
}

#dialog-content{
    margin: auto;
    background: white;
    border-radius: 20px;
    min-height: 50px;
    min-width: 300px;
    padding:20px;
}

.btn-custom-green{
    color: white;
    background-color: #1abc9c;
    box-shadow: 0 0 0 0.1px #126958;
}
.btn-custom-green:hover {
    color: white;
    background-color: #126958;
  }


.form-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #1abc9c;
    border-radius: 5px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    background-color: #3e4460;
    color: #fff;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #148f77;
}

.btn-outline-custom-green {
    color: #1abc9c;
    background-color: transparent;
    background-image: none;
    border-color: #1abc9c;
}
.btn-outline-custom-green:hover {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-outline-custom-red {
    color: #e74c3c;
    background-color: transparent;
    background-image: none;
    border-color: #e74c3c;
}

.btn-outline-custom-red:hover {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}