html,
body {
  margin: 0;
  padding: 0;
}


#main-part{
    margin-top:10px;
}



#dilog-form{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    display: flex;
}

#dialog-content{
    margin: auto;
    background: white;
    border-radius: 20px;
    min-hight: 50px;
    min-width: 300px;
    padding:20px;
}

